:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  background-color: azure;
  margin: 0px;
}

h1 {
  color: darkslategrey;
  font-size: 80px;
}

h2 {
  font-weight: 100;
}

p {
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

/***** NAVBAR ******/

.navbar-grid {
  
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  
}

.navbar-flex {
  grid-column-start: 2;
  background-color: rgb(248, 152, 200);
  height: 80px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 14px 14px;
  font-size: large;
}

.navbar-flex, a {
  text-decoration: none;
  color: white;
  font-weight: 750;
  letter-spacing: 3px;
}

/***** INTRODUCTION *****/

.introduction-box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 4fr;
  text-align: center;
  
}

.name-box {
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: left;
  /*background-image: url("/white-poppies.jpg"); */
}

.title-box {
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: left;
}

.description-box {
  padding: 10px;
  grid-column-start: 2;
  grid-row-start: 4;
}

/***** CONTACT PAGE *****/

.contact-title {
  grid-column-start: 2;
  grid-row-start: 3;
}

.contact-description {
  grid-column-start: 2;
  grid-row-start: 4;
}

.linkedIn-button {
  color:blue;
  background-color: blue;
}

/***** RESUME PAGE *****/

.download-button {
  grid-column-start: 2;
  grid-row-start: 2;
  appearance: button;
  background-color: darkslategrey;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.download-button:focus {
  text-decoration: none;
}

.download-button:hover {
  text-decoration: none;
}

.download-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.download-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .download-button {
    padding: 12px 50px;
  }
}