:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  background-color: azure;
}

h1 {
  color: darkslategrey;
}

p {
  font-size: large;
}

/***** INTRODUCTION *****/

.introduction-box {
  border-color: red;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 4fr;
  text-align: center;
}

.name-box {
  font-size: 80px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.title-box {
  grid-column-start: 2;
  grid-row-start: 2;
}

.description-box {
  padding: 10px;
  grid-column-start: 2;
  grid-row-start: 4;
}